@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #080d16;
  --surface: #0d1420;
  --primary: #2dd4bf;

  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --border: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
}

:root.light {
  --background: #cafad1;
  --surface: #cbe4cf;
  --primary: #0d9488;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --border: #c1c2c5;
}

body {
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}